/*
Theme Name: WP Rocket Theme
Theme URI: https://www.johnperricruz.com
Author: John Perri Cruz
Description: Theme built for speed.
Version: 1.32
*/

/**
 * Bootstrap to Wordpress Tweaks
 */

.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999 !important;
    background: #3d464d;
    opacity: 0.99;
}
.loading img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
    margin: -20px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: #242424!important;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
div#sidebar ul li{
	list-style-type:none;
}
a.nav-link {
	color:#fff!important;
}
ul.dropdown-menu li.active.open .dropdown-menu {
    top: 0px;
    left: 100%;
	background-color: #242424!important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #242424!important;
    color: #fff;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #f8f8f8;
    text-decoration: none;
    background-color: #242424!important;
    outline: 0;
}
div.wpcf7-validation-errors,div.wpcf7-spam-blocked {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    margin: 0px;
    padding: 10px;
}
div.wpcf7-validation-success {
    color: #155724;
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    margin: 0px;
    padding: 10px;
}
header.innerpage-header {
    background: #f9f9f9;
    margin-bottom: 30px;
}
/**
 * Pagination
 */ 
 a.page-numbers,span.page-numbers{
    position: relative;
    float: left; 
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	margin-top: 40px;
	margin-bottom: 40px;
}
span.page-numbers.current {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7; 
    border-color: #337ab7; 
}
aside.widget ul {
    list-style: none;
    padding: 0px;
}
h3.widget-title {
    font-size: 1.2rem;
}
aside.widget ul li a {
    color: #323232;
}
div#secondary .search-form {
    margin-bottom: 20px;
}
/**
 * Archives
 */
.index-lists{
    padding: 15px;
}
.index-lists h2 {
    font-size: 1.3rem;
}
span.date-posted {
    display: inline-block;
    margin-bottom: 7px;
    font-style: italic;
    color: grey;
    font-size: 12px;
}

/**
 * Your customization Starts Here
 */
 .jumbotron {
	 margin:0!important;
	 padding:0!important;
 }
footer.footer {
    background-color: #f5f5f5;
    padding: 15px;
    margin-top: 100px;
}
.center{
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:50%;
}
.col-md-6 h4{
	text-align:center;
}
.dropdown-menu {
	background-color:#242424!important;
	color:#fff;
	min-width: 15rem;
}
.header-text {
	padding:5px;
}
.header-text li{
	color:#fff;
	font-size:12px;
}
.header-text ul, .side-bar-callout ul {
	list-style:none;
}
.header-text img {
	max-width:16px;
	max-height:16px;
	padding:2px;
}
.header-text p {
	text-align:center;
}
.widget-title {
	text-align:center;
	margin-top:20px;
}
.widget-text {
	padding-top:20px;
	padding-bottom:20px;

}
.copyright {
	display:block;
	margin:0 auto;
	padding:10px;
}
.footer {
	background-color:#242424!important;
	color:#fff;
	
}
.footer .row {
	margin-top:20px;
}

.logo-wrap img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
.header-text ul {
	display:block;
	margin-left: auto;
	margin-right:auto;
}
@media screen and (max-width: 1024px){ /**| APPLE IPAD LANDSCAPE |**/
.logo-wrap {
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 800px) { /**| APPLE IPAD PORTRAIT |***/
.logo-wrap {
	width:100%;
}
.header-text {
	width:100%;
}
}

@media screen and (max-width: 640px) { /*|SAMSUNG MOBILE LANDSCAPE|*/
.logo-wrap {
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 480px) { /*| GENERIC ANDROID PHONES |*/
.logo-wrap {
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 414px) { /********| IPHONE 6+ |*******/
.logo-wrap{
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 375px) { /********| IPHONE 6 |********/
.logo-wrap{
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 360px) { /*|SAMSUNG MOBILE PORTRAIT|**/
.logo-wrap {
	width:100%;
}
.header-text {
	width:100%;
}
}
@media screen and (max-width: 320px) { /******| IPHONE 5,4... |*****/
.logo-wrap {
	width:100%;
}

}
